.typewriter-text {
  font-family: 'Courier New', Courier, monospace;
  /* 使用等宽字体 */
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 1s steps(100, end) forwards;
  animation-delay: 1s;
  color: #74E87A;
}

/* 其他样式可以自行调整，以获得老式电脑打字的效果 */

.typing {
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 5s steps(100, end) forwards;
  animation-delay: 1s;
  /* 添加延迟以使第一句在第二句之后开始 */
}

.paragraph {
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 5s steps(100, end) forwards;
  animation-delay: 1s;
  /* 添加延迟以使每一句在前一句之后开始 */
  margin-top: 7px;
  color: red;
  /* 设置第二段文字的颜色为红色 */
}

.title {
  font-size: 45px;
}

.normal {
  font-size: 40px;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.new-paragraph p {
  color: #B074E8;
  font-size: 24px;
}

.imgone {
  text-align: center;
  position: fixed;
  top: 30px;
  right: 180px;
  color: #f80707;
}

img {
  width: 350px;
  height: 350px;
  opacity: 0;
}

.imgtwo {
  text-align: center;
  position: fixed;
  top: 450px;
  right: 180px;
  color: #f80707;
}

.imgone:hover img {
  opacity: 1;
}

.imgtwo:hover img {
  opacity: 1;
}

.click {
  font-size: 25px;
  position: fixed;
  top: 470px;
  right: 700px;
}

/* p:hover {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translateY(-10px);
  }

  10% {
    transform: translateY(10px);
  }

  20% {
    transform: translateY(-10px);
  }

  30%{ transform: translateY(10px);
}

40% {
  transform: translateY(-10px);
}

50% {transform: translateY(10px);
}

60% {
  transform: translateY(-10px);
}

70% {
  transform: translateY(10px);
}

80% {
  transform: translateY(-10px);
}

90% {
  transform: translateY(10px);
}

100% {
  transform: translateY(0,0);
}
} */

p {
  transition: all 0.2s ease;
  transform: translate3d(0, 0, 0);
}

p:hover {
  transform: translate3d(0, -10px, 0);
}