html, body {
    margin: 0;
    padding: 0;
}
.title {
    font-size: 150px; /* 适当的大小值 */
}

p {
    font-size: 25px; /* 使用像素单位 */
}


.animation-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'YourHandwrittenFont';
    src: url('path/to/your/font.woff2') format('woff2'); /* 适当的字体文件路径和格式 */
    font-weight: bold; /* 添加粗体样式 */
}

svg {
    height: 42vh;
}

.page {
    height: 400vh;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

.content-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.content-section:nth-child(1) {
    background-color: #E2D03E;
}

.content-section:nth-child(2) {
    background-color: #4DAE85;
}

.content-section:nth-child(3) {
    background-color: #ED5D53;
}

.content-section:nth-child(4) {
    background-color: #9b59b6; /* 第四个颜色 */
}

.content-section:nth-child(5) {
    background-color: #34495e; /* 第五个颜色 */
}

.content-section:nth-child(6) {
    background-color: #e67e22; /* 第六个颜色 */
}

.content-section:nth-child(7) {
    background-color: #2ecc71; /* 第七个颜色 */
}



.content-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: -10vh;
    max-width: 700px;
    text-align: center;
}

h1 {
    padding: 0;
    margin: .5em 0;
}

p {
    padding: 0;
    margin: .25em 0;
}

a {
    color: black;
}

.arrow-animated {
    font-size: 35px;
    animation: arrow-float 1s infinite;
}

@keyframes arrow-float {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    60% {
        transform: translateY(50%);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}